<div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading">메뉴</div>
            <div class="panel-body">
                <ul>
                    <li><a href="/admin/memberList">학생관리</a></li>
                    <li><a href="/admin/resetTime" onclick="return confirm('초기화 하시겠습니까?')">시간 초기화</a></li>
                </ul>
            </div>
        </div>
    </div>