<% include ../header.ejs %>
<% include ./sidebar.ejs %>

<div class="col-sm-10">
    <div class="page-header">
        <h1>시간표 생성 완료 <small>감사합니다.</small></h1>
        <h2><small><a href="/profile/workTimes/download" >다운로드</a></small></h2>
    </div>
</div>

<% include ../footer.ejs %>