<% include ../header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">회원가입</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="" id="join_form" method="post">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="학번" name="stuId" type="text" autofocus="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password 확인" name="password2" type="password" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="이름" name="displayname" type="text" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="근로 유형" name="userType" type="text" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="학과" name="major" type="text" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="학년" name="grade" type="text" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="000-0000-0000" name="phone" type="text" value="" required="">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="가입하기">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function(){
    $(document).ready(function() {
        $('#join_form').submit(function(){
            var $stuIdInput = $('#join_form input[name=stuId]');
            var $passwordInput = $('#join_form input[name=password]');
            var $passwordInput2 = $('#join_form input[name=password2]');
            var $displayname = $('#join_form input[name=displayname]');
            var $userTypeInput = $('#join_form input[name=userType]');
            var $majorInput = $('#join_form input[name=major]');
            var $gradeInput = $('#join_form input[name=grade]');
            var $phoneInput = $('#join_form input[name=phone]');
            if(!$stuIdInput.val()){
                alert("학번을 입력해주세요.");
                $stuIdInput.focus();
                return false;
            }
            if(!$passwordInput.val()){
                alert("패스워드를 입력해주세요.");
                $passwordInput.focus();
                return false;
            }
            if(!$passwordInput2.val()){
                alert("확인 패스워드를 입력해주세요.");
                $passwordInput2.focus();
                return false;
            }
            if(!$displayname.val()){
                alert("이름을 입력해주세요.");
                $displayname.focus();
                return false;
            }
            if($passwordInput.val() !== $passwordInput2.val()){
                alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
                return false;
            }
            if(!$userTypeInput.val()){
                alert("근로 유형을 입력해주세요.");
                $userTypeInput.focus();
                return false;
            }
            if(!$majorInput.val()){
                alert("학과를 입력해주세요.");
                $majorInput.focus();
                return false;
            }
            if(!$gradeInput.val()){
                alert("학년을 입력해주세요.");
                $gradeInput.focus();
                return false;
            }
            if(!$phoneInput.val()){
                alert("핸드폰 번호를 입력해주세요.");
                $phoneInput.focus();
                return false;
            }
            return true;
        });
    });
})();
</script>
<% include ../footer.ejs %>